<p style="color: green"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Редактировать заметку", edit_message_path(@message) %> |
  <%= link_to "Вернуться к заметкам", messages_path %>

  <%= button_to "Удалить эту заметку", @message, method: :delete %>
</div>
